:root {
    --background: #011212;
    --main-color: #ff8800;
    --ball-radius: 50px;
}

body {
    background-color: var(--background);
}

.ball {
    width: calc(var(--ball-radius)*2);
    height: calc(var(--ball-radius)*2);
    background-color: var(--main-color);
    border-radius: var(--ball-radius);
}
